 <div class="layout-login-box">
	
		<div class="layout-login-enter-header">
			{{> loginheader}}
		</div>
		<div class="layout-login-creds-box">
			<form action="" method="get" class="form-input"></form>
				{{> loginbody }}
			</form>
		</div>
		<div class="layout-login-empty"></div>
		<div class="layout-login-container-enter-buttons">
			{{> loginbtns }}
		</div>
	
</div>
