 <div class="layout-login-box">
		<div class="layout-login-enter-header">
			{{> loginheader}}
		</div>
		{{!-- NOTE: onsubmit сделана заглушка --}}
		<form id="form" action="#" method="POST" onsubmit="return false">
			<div class="layout-login-creds-box">
				{{> loginbody }}
			</div>
			<div class="layout-login-empty"></div>
			<div class="layout-login-container-enter-buttons">
				{{> loginbtns }}
			</div>
		</form>
</div>
