 <div class="layout-login-box">
	<form action="" method="get" class="form-input"></form>
		<div class="layout-login-enter-header">
			{{> loginheader}}
		</div>
		<div class="layout-login-creds-box">
			{{> loginbody }}
		</div>
		<div class="layout-login-empty"></div>
		<div class="layout-login-container-enter-buttons">
			{{> loginbtns }}
		</div>
	</form>
</div>
