$font-stack: Helvetica, sans-serif;
$primary-color: green;
$background-color: whitesmoke;

body {
  font: 100% $font-stack;
  font-weight: normal;
  color: $primary-color;
  background: $background-color;
}
