.layout-profileparams-outer-box {
    flex: 1;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;    
}

.layout-profileparams-box {
    max-width: 510px;
    min-height: 560px;

    margin: 0;
    padding: 0;
        
    display: flex;
	flex-direction: column;
    justify-content: center;
}

.layout-profileparams-image-box {
    align-self: stretch;
    flex: 2 1 auto;

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}

.layout-profileparams-form {
    align-self: stretch;
    flex: 5 1 auto;
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
}

.layout-profileparams-params-box {
    align-self: stretch;
    flex: 4 1 auto;

}

.profileparambox:last-child {
    border-bottom: none;
}

.layout-profileparams-buttons-box {
    align-self: stretch;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
}