<div class="layout-profileParams-outer-box">

	<article class="layout-profileParams-box">
		
		<div class="layout-profileParams-image-box">
			{{#> profileParams-image-box}}
				default profileParams-image-box
			{{/profileParams-image-box}}
		</div>
		{{!-- NOTE: onsubmit сделана заглушка --}}
		<form id="form" action="#" method="POST" onsubmit="return false" class="layout-profileParams-form">
			<div class="layout-profileParams-params-box">
				{{#> profileParams-params-box}}
					default profileParams-params-box
				{{/profileParams-params-box}}
				
			</div>
			<div class="layout-profileParams-buttons-box">
				{{#> profileParams-buttons-box}}
					default profileParams-buttons-box
				{{/profileParams-buttons-box}}
			</div>
		</form>

	</article>

</div>


