.profileLinkEdit {
  align-self: stretch;

  display: flex;
  flex-direction: row;

  border-bottom: 2px solid #EAEAEA;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 16px 0 16px 0;
  margin: 0 0 16px 0;


  & a {
    text-decoration: none;
  }
}

.profileLinkEdit_text_align_start {
  text-align: start;
}

.profileLinkEdit_text_align_end {
  text-align: end;
}

.profileLinkEdit_a_blue {
  color: #3369F3;
}

.profileLinkEdit_a_red {
  color: red;
}

.profileLinkEdit_a_gray {
  color: #999999;
}
