.boxChatHeader_wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 5px;
}

.boxChatHeader_inner {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.boxChatHeader_image_box {
  max-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: #EFEFEF;
}

.boxChatHeader_username_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.boxChatHeader_btn_box {
  max-width: 50px;
  max-height: 50px;
  align-self: end;
  display: flex;
}

.boxChatHeader_username {
  align-self: start;
  font-size: 2em;
  text-align: left;
  vertical-align: middle;

}

.boxChatHeader_btn {
  align-self: center;
  max-width: 50px;
  min-height: 50px;
  font-size: 30px;
  text-align: center;
  background-color: white;
  border: none;
  color: white;
}

.boxChatHeader_menu {
  position: absolute;
  width: 200px;
  height: auto;
  top: 30px;
  right: 70px;
  display: none;
}
