<div class="boxchatheader-wrapper">
    <div class="boxchatheader-inner">
        <div class="boxchatheader-image-box"></div>
        <div class="boxchatheader-username-box">
            <span class="boxchatheader-username">Username</span>
        </div>
        <div class="boxchatheader-btn-box">
            <button id="boxchatheader-btn">&#x2807</button>
        </div>
    </div>
</div>