<div class="boxChatHeader-wrapper">
    <div class="boxChatHeader-inner">
        <div class="boxChatHeader-image-box"></div>
        <div class="boxChatHeader-username-box">
            <span class="boxChatHeader-username">Username</span>
        </div>
        <div class="boxChatHeader-btn-box">
            <button id="boxChatHeader-btn">&#x2807</button>
        </div>
    </div>
</div>