<div id="{{id}}" class="errorbox">
	<div class="number">{{number}}</div>
	<div class="text">{{text}}</div>
	<div class="empty"><br></div>
	{{> link id="lnkBackId" url='#' text='Назад к чатам' }}
</div>
