<section id="{{id}}" class="errorbox">
	<header class="number">{{number}}</header>
	<div class="text">{{text}}</div>
	{{> link id="lnkBackId" url='/selectChat.html' text='Назад к чатам' }}
</section>
