.backArrowBtn-parentBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.backArrowBtn-inner {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
  align-self: center;
}

.backArrowBtn-href {
  appearance: auto;
  text-decoration: none;

  background-color: #3369F3;
  color: white;

  height: 30px;
  max-width: 30px;
  line-height: 30px;
  text-align: center;

  border: none;
  border-radius: 50%;

  padding: 0;
}

.backArrowBtn-span {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  line-height: normal;
}
