<div class="backarrowbtn-parentbox">
    <nav class="backarrowbtn-inner">
        <a id="backarrowbtnId" class="backarrowbtn-href" href="{{url}}">
            <span class="backarrowbtn-span">&larr;</span>
        </a>
    </nav>
</div>

