<div class="backArrowBtn-parentbox">
    <nav class="backArrowBtn-inner">
        <a id="backarrowbtnId" class="backArrowBtn-href" href="{{url}}">
            <span class="backArrowBtn-span">&larr;</span>
        </a>
    </nav>
</div>

