<div class="container">
  <aside class="sideBar elemSideBar {{#if sizeclass}}{{sizeclass}}{{else}}sideBar-default{{/if}}">
    {{#> sideBar}}
        default sideBar
    {{/sideBar}}
  </aside>
  <div class="sideBarContent elemSideBar">
    {{#> sideBarContent}}
        default sideBarContent
    {{/sideBarContent}}
  </div>
</div>

