<div class="container">
  <div class="sidebar elemsidebar {{#if sizeclass}}{{sizeclass}}{{else}}sidebar-default{{/if}}">
    {{#> sidebar}}
        default sidebar
    {{/sidebar}}
  </div>
  <div class="sidebarcontent elemsidebar">
    {{#> sidebarcontent}}
        default sidebarcontent
    {{/sidebarcontent}}    
  </div>
</div>

