<div class="profilebox-btns-outerbox">
    {{> profilelinkedit url="/profileEditPerson.html" linktext="Изменить данные"}}
    {{> profilelinkedit url="profileChangePwd.html" linktext="Изменить пароль"}}
    {{> profilelinkedit url="/login.html" linktext="Выйти" profilelinkedit-color-class="profilelinkedit-a-red"}}
</div>