<div class="profileBox-btns-outerBox">
    {{> profileLinkEdit url="/profileEditPerson.html" linktext="Изменить данные"}}
    {{> profileLinkEdit url="profileChangePwd.html" linktext="Изменить пароль"}}
    {{> profileLinkEdit url="/login.html" linktext="Выйти" profileLinkEdit-color-class="profileLinkEdit-a-red"}}
</div>