<div class="profilebox-btns-outerbox">
    {{> profilelinkedit url="#" linktext="Изменить данные"}}
    {{> profilelinkedit url="#" linktext="Изменить пароль"}}
    {{> profilelinkedit url="#" linktext="Выйти" profilelinkedit-color-class="profilelinkedit-a-red"}}
</div>