<div class="image-outerbox">
    <div class="image-box-inner">
        <div class="image-box">
            <div class="image-self">
                
            </div>
        </div>
        <span class="image-username">
            {{#if username}}{{username}}{{else}}&nbsp;{{/if}}
        </span>
    </div>
</div>