<div class="boxchatmessage-wrapper">
    <div class="boxchatmessage-inner">
        <div class="boxchatmessage-attach-box">
        </div>
        {{!-- NOTE: onsubmit сделана заглушка --}}
		<form id="form" action="#" method="POST" onsubmit="return false" class="boxchatmessage-form">
            <div class="boxchatmessage-input-box">
                <input type="text" id="message" name="message" class="boxchatmessage-input">
            </div>
            <div class="boxchatmessage-send-box">
                <input type="submit" id="boxchatmessage-send-btn-id" name="boxchatmessage-send-btn-id" class="boxchatmessage-send-btn" value="&rarr;">
            </div>
        </form>
    </div>
</div>