<div class="boxChatMessage-wrapper">
    <div class="boxChatMessage-inner">
        <div class="boxChatMessage-attach-box">
        </div>
        {{!-- NOTE: onsubmit сделана заглушка --}}
		<form id="form" action="#" method="POST" onsubmit="return false" class="boxChatMessage-form">
            <div class="boxChatMessage-input-box">
                <input type="text" id="message" name="message" class="boxChatMessage-input">
            </div>
            <div class="boxChatMessage-send-box">
                <input type="submit" id="boxChatMessage-send-btn-id" name="boxChatMessage-send-btn-id" class="boxChatMessage-send-btn" value="&rarr;">
            </div>
        </form>
    </div>
</div>