.profileParamBox {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #eaeaea;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 16px 0;
  margin: 0 0 16px;
}

.profileParam-label {
  color: black;
  align-self: flex-start;
}

.profileParam-input {
  color: #999;
  align-self: flex-end;
  border: none;
  text-align: right;
}

.validation {
  display: none;
  align-self: stretch;
}
