.layout-chatsidebox-wrapper-box {
    flex: 1;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;    
}
.layout-chatsidebox-header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    max-height: 100px;
}
.layout-chatsidebox-chatlist {
    flex: 1;
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;  
}
.layout-chatsidebox-elem {
    padding: 5px;
}
.layout-chatsidebox-header-profilelinkbox{
    justify-content: end;
    align-self: stretch;
    display: flex;
    & .profilelinkedit:last-child {
        border-bottom: none;
    }
}
.layout-chatsidebox-header-searchbox {
    align-self: stretch;
    display: flex;
}
.layout-chatsidebox-searchbox-input {
    width: 80%;
    min-height: 30px;
    border-radius: 10px;
    background-color: #EFEFEF;
    &::placeholder{
        text-align: center;
    }
}
