<div class="layout-chatSideBox-wrapper-box">
	<div class="layout-chatSideBox-header layout-chatSideBox-elem">
		<div class="layout-chatSideBox-header-profileLinkBox">
			{{> profileLinkEdit url="/profile.html" linktext="Профиль >" profileLinkEdit-color-class="profileLinkEdit-a-gray" profileLinkEdit-text-align-class="profileLinkEdit-text-align-end"}}
		</div>
		<div class="layout-chatSideBox-header-searchBox">
			{{!-- NOTE: onsubmit сделана заглушка --}}
			<form id="form" action="#" method="POST" onsubmit="return false" class="layout-chatSideBox-searchBox-form">
				<input type="text" id="search" name="search" class="layout-chatSideBox-searchBox-input" placeholder="Поиск">
				<input type="submit" id="search-submit" hidden />
			</form>
		</div>
	</div>
	<div class="layout-chatSideBox-chatList layout-chatSideBox-elem">
		{{> boxChatList}}
	</div>
</div>


