<div class="layout-chatsidebox-wrapper-box">
	<div class="layout-chatsidebox-header layout-chatsidebox-elem">
		<div class="layout-chatsidebox-header-profilelinkbox">
			{{> profilelinkedit url="/profile.html" linktext="Профиль >" profilelinkedit-color-class="profilelinkedit-a-gray" profilelinkedit-text-align-class="profilelinkedit-text-align-end"}}
		</div>
		<div class="layout-chatsidebox-header-searchbox">
			{{!-- NOTE: onsubmit сделана заглушка --}}
			<form id="form" action="#" method="POST" onsubmit="return false" class="layout-chatsidebox-searchbox-form">
				<input type="text" id="search" name="search" class="layout-chatsidebox-searchbox-input" placeholder="Поиск">
				<input type="submit" id="search-submit" hidden />
			</form>
		</div>
	</div>
	<div class="layout-chatsidebox-chatlist layout-chatsidebox-elem">
		{{> boxchatlist}}  
	</div>
</div>


