.chat-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.chat-content-head, .chat-content-body, .chat-content-nav {
    padding: 0;
    margin: 0;
    display: flex;
}
.chat-content-head {
    max-height: 200px;
}
.chat-content-body {
    flex: 1;
}
.chat-content-nav {
    max-height: 200px;
}