<div class="chat-content-wrapper">
	<div class="chat-content-head">
		{{#> chat-content-header}}
		{{/chat-content-header}}
	</div>
	<div class="chat-content-body">
	{{#> chat-content-block}} 
		default chat-content-block
	{{/chat-content-block}}
	</div>
	<div class="chat-content-nav">
		{{#> chat-content-footer}} 
		{{/chat-content-footer}}
	</div>

</div>

